@model Escuela

@{
    ViewData["Title"] = "Información Escuela";
    Layout = "_Layout";
}

<h1>Escuela </h1>
<h2>Nombre:@Model.Nombre</h2>
<p><strong>Año fundación:@Model.AñoFundación </strong> </p>