@model Curso

@{
    ViewData["Title"] = "Creación de Curso";
    Layout = "Simple";
}

<h1>@ViewData["Title"]</h1>

<form method="POST">
    <div>
        <label asp-for="Nombre"></label>    
        <input  asp-for="Nombre"/>
    </div>
        <div>
        <label asp-for="Dirección"></label>
        <input  asp-for="Dirección"/>
    </div>
        <div>
        <label asp-for="Jornada"></label>
        <input  asp-for="Jornada"/>
    </div>
    <input type="submit"/>
</form>


<p><i>@ViewBag.Fecha</i></p>