@model Curso

@{
    ViewData["Title"] = "Información Curso";
    Layout = "Simple";
}

<h1>@ViewData["Title"]</h1>
<h2>@ViewBag.MensajeExra</h2>

<strong>Desde la vista normal</strong>
<p>
    Nombre:@Model.Nombre <br/>
    Id : @Model.Id
</p>

<strong>Desde la vista parcial</strong>
<partial name="ObjetoEscuelaSimple" />


<p><i>@ViewBag.Fecha</i></p>