@model IEnumerable<Curso>

@{
    ViewData["Title"] = "Información Curso";
    Layout = "Simple";
}

<h1>@ViewData["Title"]</h1>

<strong>Desde la vista parcial</strong>
<partial name="ListaObjetoEscuela"/>


<p><i>@ViewBag.Fecha</i></p>